@{
    ViewBag.Title = "Домашняя страница";
}
<p>
    @Html.ActionLink("Мои избранные товары", "Index", "Favorites")
    @Html.ActionLink("Мои вопросы к товарам", "Index", "Asks")
    @Html.ActionLink("Мои отзывы", "Index", "Notes")
    @Html.ActionLink("Мой профиль", "Index", "Users")
</p>
<div class="jumbotron">
    <h1>Ковтуненко Д. А.</h1>
    <p class="lead">Тема: сайт и приложение для оптовой компании, которая торгует женской одеждой. ПР-20.106</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Стать моим инвестором &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начните монетизировать деньги</h2>
        <p>
            Чем больше у меня проектов - тем больше пассивного заработка я получу.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Узнать больше &raquo;</a></p>
    </div>
</div>